Basics/*

!Basics/flow_control_statements/
Basics/flow_control_statements/*
!Basics/flow_control_statements/*.go

!Basics/methods_and_interfaces/
Basics/methods_and_interfaces/*
!Basics/methods_and_interfaces/*.go

!Basics/Packages_variables_funcs/
Basics/Packages_variables_funcs/*
!Basics/Packages_variables_funcs/*.go

!/Basics/structs_slices_maps/
/Basics/structs_slices_maps/*
!/Basics/structs_slices_maps/*.go

!/Basics/type_assertion/
/Basics/type_assertion/*
!/Basics/type_assertion/*.go

!/Basics/concurrency/
/Basics/concurrency/*
!/Basics/concurrency/*.go

hello_world_go